@import "../../style-config/mixins.scss", "../../style-config/variable.scss";

.blogs-content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
    flex-direction: column;
    @include small-screen {
        margin-top: 75px;
        flex-direction: row;
    }
}

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 0%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.pos{
    margin-top: 70px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    

}

.s{
    text-transform: capitalize;
    font-size: medium;
    color: white;
    opacity: 75;
}

.wo{
    font-size: medium;
    color: whitesmoke;
    text-justify: auto;
}

.sg{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.ui{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4%;
}

.line{
    position: absolute;
    left: 8%;
    top: 0%;
    width: 4px;
    height: fit-content;
    color: white;
    

}